<p-dialog header="Formulario de Activo" [(visible)]="displayDialog" [modal]="true" [style]="{width: '400px'}">
    <div class="p-fluid">
      <div class="p-field" *ngIf="activo.codigo">
        <label for="codigo">Código</label>
        <input id="codigo" type="text" pInputText [(ngModel)]="activo.codigo" disabled />
      </div>

      <div class="p-field">
        <label for="nombre">Nombre Activo</label>
        <input id="nombre" type="text" pInputText [(ngModel)]="activo.nombre" />
      </div>
  
      <div class="p-field">
        <label for="referencia">Referencia</label>
        <input id="referencia" type="text" pInputText [(ngModel)]="activo.referencia" />
      </div>
  
      <div class="p-field">
        <label for="estado">Estado</label>
        <p-dropdown
          id="estado"
          [options]="estadoOptions"
          [(ngModel)]="activo.estado"
          placeholder="Seleccione estado">
        </p-dropdown>
      </div>
  
       <div class="p-field">
        <label for="marca">Marca</label>
          <p-dropdown
          id="marca"
          [options]="marcas"
          optionLabel="descripcion"
          [(ngModel)]="activo.marca"
          placeholder="Seleccione una marca">
        </p-dropdown>
      </div>

      <div class="p-field">
        <label for="ubicacion">Ubicación</label>
        <p-dropdown
          id="ubicacion"
          [options]="ubicaciones"
          optionLabel="descripcion"
          [(ngModel)]="activo.ubicacionActual"
          placeholder="Seleccione una ubicación">
        </p-dropdown>
      </div>
  </div>
  
    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cerrar()"></button>
      <button pButton label="Guardar" icon="pi pi-check" (click)="guardarActivo()"></button>
    </ng-template>
  </p-dialog>
  