<p-toast></p-toast>
<p-card header="Control de Activos">
    <p class="m-0">
    </p>

    <p-tabView>
        <p-tabPanel header="Activos">
            <div style="margin-bottom: 1em;">
                <button pButton pRipple label="Nuevo Activo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            </div>
            <div>
                <p-table #dt [value]="activos" [rows]="5" [paginator]="true" styleClass="p-datatable-sm"
                    [rowHover]="true" dataKey="codigo"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <h5 class="m-0">Activos registrados</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código</th>
                            <th>Nombre Activo</th>
                            <th>Referencia</th>
                            <th>Marca</th>
                            <th>Estado</th>
                            <th>Ubicación</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-activo>
                        <tr>
                            <td>{{activo.codigo}}</td>
                            <td>{{activo.nombre}}</td>
                            <td>{{activo.referencia}}</td>
                            <td>{{activo.marca.descripcion}}</td>
                            <td>{{activo.estado}}</td>
                            <td>{{activo.ubicacionActual?.descripcion}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(activo)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(activo)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Movimiento Activos">
            <button pButton pRipple label="Traslado Activo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <p>
                Desarrolle front y back según indicaciones de la prueba
            </p>
        </p-tabPanel>
        <p-tabPanel header="Otros">
            <p>
                Si quieres realizar algo adicional...
            </p>
        </p-tabPanel>
    </p-tabView>

</p-card>

<app-add-edit-activo 
  [(displayDialog)]="showAddEditDialog"
  [activo]="selectedActivo"
  [esEdicion]="esEdicion"
  (onClose)="hideAddEditDialog()"
  (onSave)="handleSave($event)">
</app-add-edit-activo>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
